/hard/config
/api/node_modules
/api/package-lock.json
/api/src/config.ts
/api/webpack.config.js
/api/dist
/web/node_modules
/web/package-lock.json
/web/webpack.config.js
/web/index.html
/web/index.js
/web/dist/  
/web/src/images
.env
.DS_Store